
.board {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    background-color: burlywood;
    height: 800px;
    width: 800px;
}

.whiteSquare {
    background-color: white;
}

.blackSquare {
    background-color: black;
}

/* .boardEdgeUpper {
    display: grid;
    grid-template-rows: repeat(8, 30px);
    background-color: burlywood;
    height: 860px;
    width: 860px;
} */