
.board {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    background-color: burlywood;
    height: 800px;
    width: 800px;
}

.whiteSquare {
    background-color: white;
}

.blackSquare {
    background-color: black;
}

img {
    max-width: 100px;
    max-height: 100px;  
    align-content: center;  
    visibility: visible;
}

.Pawn.Rook.Bishop.Knight.King.Queen {
    width: 100px;
    height: 100px;  
    align-content: center;  
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
}